 
  
        
    
            #bloc1                                       /* caractéristique du bloc principal*/
                {
                        border-radius : 10px ;
                        margin-left : 5px;
                        background-color : #00BFFF;
                        width : 240px;
                        height : 325px;
                        box-shadow: 30px 30px 30px 10px rgba(0, 0, 0, 0.3),
                        -10px  -10px  10px 1px rgba(200,200,200,0.3)
                }
            #bloc2                                      /* caractéristique du sous-bloc contenat les élément de formulaire*/ 
                {                                       /* pour les centrer dans le bloc 1   */
                      
                        display: block;
                        margin-left : auto  ;
                        margin-right : auto;
                        width : 200px; 
                }        
            input.bouton:active                          /* lorsque les formulaire de type bouton seront activés */      
                {                                        /*  par un clic de souris les boutons seront comme enfoncés*/
                        
                         border-style : inset;   
                }
                
                

            input[type="button"]                        /* caractéristique des éléments de formulaire de type bouton*/
                {                                       /* ils ont un aspect en relief*/
                        border-style: outset;
                        font-weight: bold;
                        font-size : 11pt;
                        font-family: Arial ;
                        width : 60px;
                        height : 35px;       
                }

